__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env
*.json
!gen-lang-client-*.json # Example if we wanted to include it, but generally keys should not be in image
service-account-key.json
credentials.json
.DS_Store
.git
.gitignore
gha-creds-*.json
